
<div id='ajax_div'>				

	<%= @jscript %>				

	<table cellspacing='0' border='1'>
		<tr>
			<td>
			    <div id="map_canvas" style="width: 670px; height: 550px"></div>
			    <div id="message"></div>
			</td>
		</tr>		
	</table>
</div>


