<html><head><title>Test</title>
        <%= GMap.header %>
		<%= javascript_include_tag("clusterer") %>
        <%= @map.to_html %>
</head>
<body>
        <%= @map.div(:width => 1000, :height => 600) %>
</body>
</html>