<html><head><title>Test</title>
    <%= GMap.header %>
    <%= @map.to_html %>

</head>
<body>
	<%= @map.div(:width => 670, :height => 550) %>

<br />

<%= form_remote_tag :url => {:controller => 'gmap', :action => 'add_custom_point'}, :class => "headerForm"%>
	<%= submit_tag "Add Custom Point" %>
<%= end_form_tag %>
<br />

</body>
</html>


